.admin-navbar{
    padding:0;
    .logo{
        height:40px;
    }
}

.action_item_row{
    padding: 15px;
    .add_new_button{
        background: green;
        color: white;
        padding: 8px;
    }
}
