.header-image-container{
    height: 250px;
    overflow: hidden;
    img{
        display: block;
        object-fit: cover;
        width: 100%;
    }
}
.profile-header-row{
    height:250px;
    .profile_photo{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}